<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{TITLE}</title>
</head>
<body style="background-color:#008080;">

    <div style="background-color:#c3c3c3;text-align:center;border-style:double;padding:1rem;margin:1rem;">
        <h1>{TITLE}</h1>
        <p>{TEXT}</p>
    </div>

    <div style="background-color:#c3c3c3;text-align:center;border-style:double;padding:1rem;margin:1rem;">
        <p>Afficher ou cacher toutes les entrées de la base de données</p>
    <form style="margin:auto;" method="post">
        <input type="submit" name="buttonShow" class="button" value="Afficher" />
        <input type="submit" name="buttonErase" class="button" value="Cacher" />
    </form>
    </div>

    <div style="background-color:#c3c3c3;text-align:center;border-style:double;padding:1rem;margin:1rem;">
        <p>Afficher les entrées de la base par catégorie</p>
        <form method="post">
        <select>
            <option name="frontEnd" value="Front End">Front End</option>
            <option name="backEnd" value="Back End">Back End</option>
            <option name="outils" value="Outils et ressources">Outils et ressources</option>
            <input type="submit" value="choisir">
        </select>
        </form>
    </div>

    <div style="background-color:#c3c3c3;text-align:center;border-style:double;padding:1rem;margin:1rem;">
        <p>Ajouter une entrée dans la base de données</p>
        <form method="post">
            Ajouter un nom à votre entrée: <input type="text" name="newLinkName">
            Ajouter l'adresse du site web: <input type="text" name="newLinkAddress">
            Ajouter une description: <input type="text" name="newLinkDescription">
            <input type="submit" value="Ajouter">
        </form>
        </div>

    <div style="background-color:#c3c3c3;text-align:center;border-style:double;padding:1rem;margin:1rem;">
        <p>Supprimer une entrée dans la base de données</p>
        <form method="post">
            Sélectionner le numéro de l'entrée: <input type="int" name="numberDelete">
            <input type="submit" value="Supprimer">
        </form>
        </div>

    <div style="background-color:#c3c3c3;text-align:center;border-style:double;padding:1rem;margin:1rem;">
        <p>Modifier une entrée dans la base de données</p>
        <form method="post">
            Veuillez indiquer le numéro de l'entrée: <input type="int" name="findIdNumber">
            <input type="submit" value="OK">
            <input type="submit" name="buttonErase" class="button" value="Effacer" />
        </form>
    </div>

</body>
</html>