body{
    background-color:#008080; 
    align-items: center;
    justify-content: center;
}

form{
    margin: auto;
}

.grayBox{
    background-color:#c0c0c0;
    text-align:center;
    border-style:double;
    padding:1rem;
    margin:1rem;
}

.button{
    background-color:#c0c0c0;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 0.5rem;
    padding: 0.5rem;
}

.slider {
    overflow: hidden;
    width: 750px;
    margin: auto;
}

.slides {
    width: 600px;
    margin: auto;
    background-color:#cfcfcf;
    border-style:double;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    padding: 0.5rem;
}
.slides::-webkit-scrollbar-thumb {
    background: grey;
}
.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    background-color:#cfcfcf;
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.slider > a {
    display: inline-flex;
    width: auto;
    height: 1.5rem;
    background-color:#c0c0c0;
    text-decoration: none;
    color:black;
    padding: 0.25rem;
    margin: 0.75rem 0.25rem;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 10px;
    position: relative;
}