body{
    background-color:#008080; 
}

div{
    background-color:#c3c3c3;
    text-align:center;
    border-style:double;
    padding:1rem;
    margin:1rem;
}

.button{
    background-color:#c3c3c3;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 0.5rem;
}